amoeba/src/java/com/meidusa/amoeba/xml/function.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!ELEMENT className ( #PCDATA ) >

<!ELEMENT function ( className, property* ) >
<!ATTLIST function name CDATA #REQUIRED >

<!ELEMENT amoeba:function ( function+ ) >
<!ATTLIST amoeba:function
  xmlns:amoeba CDATA #FIXED "http://amoeba.meidusa.com/" 
>
<!ELEMENT property ( #PCDATA ) >
<!ATTLIST property name NMTOKEN #REQUIRED >
